:root {
  --primary: #7289DA;
  --white: #ffffff;
  --r1: #fb0f32;
  --r2: #0070ff;
  --r3: #db00ff;
  --r4: #46af2c;
  --r5: #33bed1;
}

.btn {
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
.btn--rythm--1 {
  background-color: var(--r1);
  color: var(--white);
  border: none;
}
.btn--rythm--2 {
  background-color: var(--r2);
  color: var(--white);
  border: none;
}
.btn--rythm--3 {
  background-color: var(--r3);
  color: var(--white);
  border: none;
}
.btn--rythm--4 {
  background-color: var(--r4);
  color: var(--white);
  border: none;
}
.btn--rythm--5 {
  background-color: var(--r5);
  color: var(--white);
  border: none;
}

.btn--large {
  padding: 20px 40px;
  font-size: 35px;
}
